// COLUMNS STYLES
//* --------------------------------------- */

.col-2 {
	width: 18%;
	float: left;
	padding: 5px;
	@include tablet {
		width: 100%;
		padding: 0px;
	}
}
.col-4 {
	width: 33%;
	float: left;
	@include tablet {
		width: 26%;
	}
}
.col-8 {
	width: 66%;
	float: left;
}