// COLUMNS STYLES
//* --------------------------------------- */

.col-2 {
	width: 18%;
	float: left;
	padding: 5px;
	@include tablet {
		width: 100%;
		padding: 0px;
	}
}
.col-4 {
	width: 27%;
	float: left;
	margin: 10px;
	padding: 20px;
	@include tablet {
		width: 27.5%;
		padding: 0px;
	}
}
.col-8 {
	width: 66%;
	float: left;
}